/* Blog Grid Styles */

/* Only affect Latest Posts grid */
.latest-posts > .col-lg-8 .row > [class*="col-"] {
  display: flex;
}

.latest-card {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.latest-card .card-grid-3-image img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.latest-card .card-block-info {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.latest-card .card-2-bottom {
  margin-top: auto;
}

.lp-line-clamp-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.lp-line-clamp-4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

/* Sidebar Trending Now thumbnails */
.sidebar-news-small .post-list-small .thumb {
  width: 96px;
  height: 72px;
  flex: 0 0 96px;
  overflow: hidden;
  border-radius: 8px;
}

.sidebar-news-small .post-list-small .thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
